@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<form enctype="multipart/form-data" asp-controller="Books" asp-action="UploadImage">
    <input class="form-control" type="file" name="BookImage" />
    <br />
    <input class="btn btn-success" type="submit" value="Upload" />
</form>
*@